html{
	overflow-x: hidden;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: none;
}
p, a, h1, button {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
a{
	color: inherit;
	text-decoration: none;
}
h1{
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	color: #ED1D31;
}
p{
	font-size: 1.5em;
	line-height: 1.5;
}

/* Navigation******************************************************************************************/

#full-nav{
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: white;
	top: 0px;
}
.logo{
	padding:15px 15px 15px 30px;
	width: 250px;
}
#topNav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 101;
	background-color: white;
	border-bottom: solid 5px #ED1D31;
}

.nav-links{
	overflow: hidden;
	display: flex;
	text-decoration: none;
	text-align: center;
}
.nav-links button {
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	font-weight: 600;
	transition: 0.3s;
	font-size: 13px;
	text-transform: uppercase;
}

.page1-btn{
	color: white;
	float: left;
	background-color: #ead300;
}

.page2-btn{
	color: white;
	float: left;
	background-color: #592B81;
}
.page3-btn{
	color: white;
	float: left;
	background-color: #ed1d31;
}
.page1-btn:hover{
	background-color:#c9b100;
	transition: .2s;
}

.page2-btn:hover{
	background-color: #431F60;
	transition: .2s;
}
.page3-btn:hover{
	background-color: #c1272d;
	transition: .2s;
}
.tab {
	overflow: hidden;
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: #ED1D31;
}
.tab button {
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 10px;
	transition: 0.3s;
	font-size: 16px;
	color: white;
}
.tablinks1 {
	background-color: #C30F20;
	width: calc(100%/3);
}
.tablinks2 {
	background-color: #ED1D31;
	width: calc(100%/3);
}
.tablinks3 {
	background-color: #ED1D31;
	width: calc(100%/3);
}
.tablinks1:hover {
	background-color: #C30F20;
}
.tablinks2:hover {
	background-color: #C30F20;
}
.tablinks3:hover {
	background-color: #C30F20;
}

/* Main Container */
.map{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
}
#treatment-map{
	width: 80%;
	margin: auto;
	position: relative;
	top: 60px;
}
#main-container{
	margin: auto;
	width: 100%;
}
#division-column1{
	margin-top: 100px;
	width: 100%;
	padding: 50px 0px 50px 0px;
}
#division-column2{
	background-image: url("../Imgs/Graphics_imageRedOverlay.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
	width: 100%;
	padding: 150px 0px 150px 0px;
}
#division-column3{
	background-color: #E6E6E6;
	width: 100%;
	padding: 50px 0px 50px 0px;
	margin-bottom: 100px;
}
.infographic{
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 50px;
}
.full-column{
	width: 60%;
	margin: auto;
}
.full-column img{
	width: 100%;
}
.quarter-column{
	width: calc(100%/6);
	float: left;
	padding: 8px;
	justify-content: center;
	height: 230px;
}
.quarter-column img{
	width: 100%;
}
.quarter-column p{
	text-align: center;
	font-size: 14px;
}
.two-column{
	width: calc(100%/3);
	float: left;
	padding: 10px;
}
.two-column img{
	padding: 0px 10px 10px 0px;
}
.center-icon{
	width: 30%;
	margin: auto;
}
.download-text{
	float: left;
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: #D0D0D0;
	border-radius: 30px;
	padding:10px;
	border: none;
	font-size: 18px;
}
.download-text:hover{
	background-color: #A0A0A0;
}
/*Accordian******************************************************************************************/

.accordion {
	border: none;
	border-bottom: solid 2px #ED1D31;
	color: black;
	cursor: pointer;
	padding:7px;
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	transition: 0.2s;
	text-align: left;
}
.accordion:hover {
  background-color: #CECECE;
}

.accordion:after {
	content: url("../Imgs/Graphics_infoicon3.png");
	font-size: 10px;
	color: #BFBFBF;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.activeaccordion:after {
	content: url("../Imgs/Graphics_infoicon-after3.png");
}
.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.panel p {
	font-size: 17px;
}
/*footer*****************************************************************************************/

#footer{
	width: 100%;
	background-color: #333333;
	background-image: url("../Imgs/Graphics_footer.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px;
	position:relative;
	bottom: 0px;
	height: auto;
	float: none;
}
.footnotes{
	color: white;
	font-size: 12px;
	font-weight: 100;
}
.footerlogo{
	padding-top: 150px;
	width: 20%;
}
.footertagline{
	width: 50%;
	padding-top: 20px;
}

/*Screen sizing****************************************************************************************/

@media screen and (max-width:1024px){
	#main-container{
		width: 100%;
}
}

@media screen and (max-width:768px){
	#main-container{
		width: 100%;	
	}
	.footerlogo{
		width: 40%;
	}
	.footertagline{
		width: 80%;
	}
	.quarter-column{
		width: calc(100%/3);
	}
}
@media screen and (max-width:500px){
	.full-column{
		width: 100%;
		padding: 20px;
	}
	.footerlogo{
		width: 60%;
	}
	.footertagline{
		width: 100%;
	}
	.third-column{
		width: 100%;
		padding: 0px;
		padding-top: 10px;
	}
	#division-column1{
		padding: 10px;
	}
	.quarter-column{
		width: calc(100%/2);
		height: auto;
	}
}

